@tailwind base;
@tailwind components;
@tailwind utilities;

:host {
    display: block;
}

* {
    -webkit-tap-highlight-color: transparent;
}

*::-webkit-scrollbar {
    display: none;
}

@media screen(md) {
    header > div > div:nth-child(3) {
        height: fit-content !important;
    }
} 
