/* TailwindCSS */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* some additional base customizations */
@layer base {
    :host {
        display: block;
    }

    * {
        -webkit-tap-highlight-color: transparent;
    }

    *::-webkit-scrollbar {
        display: none;
    }
}

/* a fix for navigation on tablets */
@media (min-width: theme('screens.md')) {
    header > div > div:nth-child(3) {
        height: fit-content !important;
    }
}
